In [31]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score, mean_squared_error
import ast
import xgboost as xgb
import ast
from sklearn.preprocessing import MinMaxScaler

In [23]:
data=pd.read_csv('Hotel_Reviews_2.csv') #read the csv file
print(data.head(40))

                                        Hotel_Address  \
0    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
5    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
6    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
7    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
8    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
9    s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
10   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
11   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
12   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
13   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
14   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
15   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
16   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
17   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
18   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
19   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
20   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
21   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
22   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
23   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
24   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
25   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
26   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
27   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
28   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
29   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
30   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
31   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
32   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
33   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
34   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
35   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
36   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
37   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
38   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
39   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...

    Additional_Number_of_Scoring Review_Date  Average_Score   Hotel_Name  \
0                            194    8/3/2017            7.7  Hotel Arena
1                            194    8/3/2017            7.7  Hotel Arena
2                            194   7/31/2017            7.7  Hotel Arena
3                            194   7/31/2017            7.7  Hotel Arena
4                            194   7/24/2017            7.7  Hotel Arena
5                            194   7/24/2017            7.7  Hotel Arena
6                            194   7/17/2017            7.7  Hotel Arena
7                            194   7/17/2017            7.7  Hotel Arena
8                            194    7/9/2017            7.7  Hotel Arena
9                            194    7/8/2017            7.7  Hotel Arena
10                           194    7/7/2017            7.7  Hotel Arena
11                           194    7/6/2017            7.7  Hotel Arena
12                           194    7/6/2017            7.7  Hotel Arena
13                           194    7/4/2017            7.7  Hotel Arena
14                           194    7/4/2017            7.7  Hotel Arena
15                           194    7/3/2017            7.7  Hotel Arena
16                           194    7/3/2017            7.7  Hotel Arena
17                           194   6/30/2017            7.7  Hotel Arena
18                           194   6/29/2017            7.7  Hotel Arena
19                           194   6/20/2017            7.7  Hotel Arena
20                           194   6/19/2017            7.7  Hotel Arena
21                           194   6/12/2017            7.7  Hotel Arena
22                           194   6/10/2017            7.7  Hotel Arena
23                           194   5/29/2017            7.7  Hotel Arena
24                           194   5/27/2017            7.7  Hotel Arena
25                           194   5/25/2017            7.7  Hotel Arena
26                           194   5/25/2017            7.7  Hotel Arena
27                           194   5/22/2017            7.7  Hotel Arena
28                           194   5/21/2017            7.7  Hotel Arena
29                           194   5/16/2017            7.7  Hotel Arena
30                           194   5/16/2017            7.7  Hotel Arena
31                           194   5/11/2017            7.7  Hotel Arena
32                           194   5/11/2017            7.7  Hotel Arena
33                           194    5/9/2017            7.7  Hotel Arena
34                           194    5/2/2017            7.7  Hotel Arena
35                           194   4/27/2017            7.7  Hotel Arena
36                           194   4/26/2017            7.7  Hotel Arena
37                           194   4/20/2017            7.7  Hotel Arena
38                           194   4/20/2017            7.7  Hotel Arena
39                           194   4/19/2017            7.7  Hotel Arena

          Reviewer_Nationality  \
0                      Russia
1                     Ireland
2                   Australia
3              United Kingdom
4                 New Zealand
5                      Poland
6              United Kingdom
7              United Kingdom
8                     Belgium
9                      Norway
10             United Kingdom
11                     France
12             United Kingdom
13                      Italy
14                     Canada
15                      Italy
16             United Kingdom
17                    Ireland
18                Netherlands
19                  Australia
20             United Kingdom
21                     France
22                    Germany
23                    Ireland
24             United Kingdom
25   United States of America
26             United Kingdom
27                     France
28   United States of America
29                    Hungary
30                    Ireland
31             United Kingdom
32   United States of America
33                Netherlands
34   United States of America
35                     Israel
36                    Ireland
37                     Russia
38             United Kingdom
39                     Canada

                                      Negative_Review  \
0    I am so angry that i made this post available...
1                                         No Negative
2    Rooms are nice but for elderly a bit difficul...
3    My room was dirty and I was afraid to walk ba...
4    You When I booked with your company on line y...
5    Backyard of the hotel is total mess shouldn t...
6    Cleaner did not change our sheet and duvet ev...
7    Apart from the price for the brekfast Everyth...
8    Even though the pictures show very clean room...
9    The aircondition makes so much noise and its ...
10                                 Nothing all great
11   6 30 AM started big noise workers loading woo...
12   The floor in my room was filfy dirty Very bas...
13                                        No Negative
14   The staff in the restaurant could of been mor...
15                                        No Negative
16   Very steep steps in room up to the bed not sa...
17   We did not like the fact that breakfast was n...
18                                        No Negative
19   We had issues with our electronic key everyda...
20   Bed was on upper level with a narrow twist st...
21   Our room was an overrated disaster room 231 d...
22   Sadly I cannot say that the rooms are clean e...
23   Transportation was a bit of a pain but on rou...
24                                           Nothing
25   The bathroom in our room was a black glass bo...
26   Nothing at all to do with the Hotel of course...
27   Careful they are still renovating the buildin...
28   We had 2 different rooms here and both were d...
29   There is an ongoing construction enlarging th...
30                      Little bit on the pricey side
31   Extensive restorations works going on We had ...
32   Our bathroom had an urine order Shower was ve...
33                                   Please see above
34   The rooms were cold Although nice the room de...
35   Construction on site but not mentioned on boo...
36   not cleaned well lady pushing to pay during m...
37   The glass wall separating the bathroom and th...
38   the only thing that would of been better is i...
39   Staff a few were friendly and willing enough ...

    Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
0                                 397                     1403
1                                   0                     1403
2                                  42                     1403
3                                 210                     1403
4                                 140                     1403
5                                  17                     1403
6                                  33                     1403
7                                  11                     1403
8                                  34                     1403
9                                  15                     1403
10                                  5                     1403
11                                 75                     1403
12                                 28                     1403
13                                  0                     1403
14                                 35                     1403
15                                  0                     1403
16                                 38                     1403
17                                 59                     1403
18                                  0                     1403
19                                 73                     1403
20                                 40                     1403
21                                 92                     1403
22                                364                     1403
23                                 22                     1403
24                                  3                     1403
25                                 57                     1403
26                                 51                     1403
27                                 31                     1403
28                                 53                     1403
29                                 24                     1403
30                                  7                     1403
31                                 61                     1403
32                                 68                     1403
33                                  4                     1403
34                                 26                     1403
35                                 23                     1403
36                                 18                     1403
37                                 29                     1403
38                                 93                     1403
39                                122                     1403

                                      Positive_Review  \
0    Only the park outside of the hotel was beauti...
1    No real complaints the hotel was great great ...
2    Location was good and staff were ok It is cut...
3    Great location in nice surroundings the bar a...
4     Amazing location and building Romantic setting
5    Good restaurant with modern design great chil...
6    The room is spacious and bright The hotel is ...
7    Good location Set in a lovely park friendly s...
8                                         No Positive
9    The room was big enough and the bed is good T...
10   Rooms were stunningly decorated and really sp...
11                               Style location rooms
12                           Comfy bed good location
13   This hotel is being renovated with great care...
14   It was very good very historic building that ...
15   This hotel is awesome I took it sincirely bec...
16   Great onsite cafe Amazing building Park locat...
17   We loved the location of this hotel The fact ...
18   Public areas are lovely and the room was nice...
19   I liked the hotels history And for such an en...
20   Friendly staff OostPark a few yards away Good...
21   The breakfast was the only positive element o...
22   The location is good You need 15min to 20min ...
23   Bed was extremely comfy and the staff where w...
24   Lovely hotel with extremely comfortable huge ...
25   Great location in the park near museums and r...
26   The Hotel itself is in a lovely location a 5m...
27                 Great hotel original concept style
28   The hotel itself is beautiful restaurant is v...
29   The hotel is located in a beautiful old monas...
30   The staff were so friendly and helpful plus t...
31   Friendly staff The bar restaurant area is lov...
32                                        No Positive
33   The hotel is going through renovations and un...
34   The room was very big spacious The bath tub w...
35   Very nice hotel manager he upgraded us becaus...
36   the building meeting rooms modern style of my...
37   Very nice hotel located in a park Ca 30 minut...
38   The location was amazing the room was fantast...
39   Location on the park with easy access to tram...

    Review_Total_Positive_Word_Counts  \
0                                  11
1                                 105
2                                  21
3                                  26
4                                   8
5                                  20
6                                  18
7                                  19
8                                   0
9                                  50
10                                101
11                                  4
12                                  6
13                                 59
14                                 15
15                                 82
16                                 14
17                                 64
18                                 33
19                                 48
20                                 17
21                                 75
22                                 37
23                                 51
24                                130
25                                 43
26                                134
27                                  6
28                                 22
29                                 49
30                                 28
31                                 16
32                                  0
33                                 40
34                                 32
35                                 52
36                                 11
37                                 56
38                                186
39                                 15

    Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
0                                            7             2.9
1                                            7             7.5
2                                            9             7.1
3                                            1             3.8
4                                            3             6.7
5                                            1             6.7
6                                            6             4.6
7                                            1            10.0
8                                            3             6.5
9                                            1             7.9
10                                           2            10.0
11                                          12             5.8
12                                           7             4.6
13                                           6             9.2
14                                           1             8.8
15                                          26            10.0
16                                           8             6.3
17                                           2             7.5
18                                           4             7.1
19                                          16             7.5
20                                           1             6.3
21                                          12             3.8
22                                          21             5.4
23                                           1             9.6
24                                           2             9.6
25                                           4             8.3
26                                           2             9.6
27                                          25             8.3
28                                           4             8.3
29                                           2             9.2
30                                           5             9.2
31                                          14             7.1
32                                           1             4.2
33                                           1             6.7
34                                           6             7.9
35                                           2             8.3
36                                           5             7.1
37                                          85             8.8
38                                           2             8.8
39                                           1             6.3

                                                 Tags days_since_review  \
0   [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
1   [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
2   [' Leisure trip ', ' Family with young childre...            3 days
3   [' Leisure trip ', ' Solo traveler ', ' Duplex...            3 days
4   [' Leisure trip ', ' Couple ', ' Suite ', ' St...           10 days
5   [' Leisure trip ', ' Group ', ' Duplex Double ...           10 days
6   [' Leisure trip ', ' Group ', ' Duplex Twin Ro...           17 days
7   [' Leisure trip ', ' Couple ', ' Duplex Double...           17 days
8   [' Leisure trip ', ' Couple ', ' Duplex Double...           25 days
9   [' Leisure trip ', ' Couple ', ' Large King Ro...           26 days
10  [' Leisure trip ', ' Group ', ' Duplex Double ...           27 days
11  [' Business trip ', ' Solo traveler ', ' Duple...           28 days
12  [' Leisure trip ', ' Solo traveler ', ' Duplex...           28 days
13  [' Business trip ', ' Solo traveler ', ' Duple...           30 days
14  [' Leisure trip ', ' Family with young childre...           30 days
15  [' Leisure trip ', ' Couple ', ' Duplex Double...           31 days
16  [' Leisure trip ', ' Family with young childre...           31 days
17  [' Leisure trip ', ' Couple ', ' Duplex Double...           34 days
18  [' Business trip ', ' Group ', ' Duplex Double...           35 days
19  [' Leisure trip ', ' Couple ', ' Duplex Double...           44 days
20  [' Leisure trip ', ' Travelers with friends ',...           45 days
21  [' Couple ', ' Duplex Double Room ', ' Stayed ...           52 days
22  [' Leisure trip ', ' Family with young childre...           54 days
23  [' Leisure trip ', ' Couple ', ' Duplex Double...           66 days
24  [' Leisure trip ', ' Couple ', ' Duplex Double...           68 days
25  [' Leisure trip ', ' Couple ', ' Duplex Double...           70 days
26  [' Leisure trip ', ' Group ', ' Duplex Double ...           70 days
27  [' Business trip ', ' Solo traveler ', ' Duple...           73 days
28  [' Leisure trip ', ' Couple ', ' Duplex Double...           74 days
29  [' Leisure trip ', ' Couple ', ' Duplex Double...           79 days
30  [' Leisure trip ', ' Couple ', ' Duplex Double...           79 days
31  [' Leisure trip ', ' Group ', ' 2 rooms ', ' S...           84 days

In [24]:
# This is the basic data cleaning process. This should be added in all the models
# This cell is a bit slow to run, so it is intended to be run only once

# This part drops the columns that are not needed in the model
data.drop('Hotel_Address',axis=1,inplace=True)  # Drop the column 'Hotel_Address' due to lack of relevance
data.drop('Review_Date',axis=1,inplace=True)    # Drop the column 'Review_Date' due to lack of complete data
data.drop('Additional_Number_of_Scoring',axis=1,inplace=True)  # Drop the column 'Additional_Number_of_Scoring' due to not knowing what the numbers mean
data.drop('lat',axis=1,inplace=True)    # Drop the column 'lat' due to lack of relevance
data.drop('lng',axis=1,inplace=True)    # Drop the column 'lng' due to lack of relevance
data.drop('Total_Number_of_Reviews',axis=1,inplace=True)    # Drop the column 'Total_Number_of_Reviews' due to the number seams to be incorrect


# The next part of the code aims to split the 'Tags' column into multiple columns

data['Tags'] = data['Tags'].apply(ast.literal_eval) # Convert the string to a list, This code is made by chatgpt

# The following 3 lines of code is made by github copilot

tags_expanded = data['Tags'].apply(pd.Series) # Expand the 'Tags' column into multiple columns

tags_expanded.columns = [f'Tag_{i}' for i in range(tags_expanded.shape[1])] # Rename the columns for better readability

data = pd.concat([data, tags_expanded], axis=1) # Concatenate the expanded tags with the original dataframe

data.drop('Tags',axis=1,inplace=True)   # Drop the column 'Tags' due to the data being split into multiple columns

# The next part of the code turns the 'days_since_review' and 'Tag_3' columns into integers
data['days_since_review']=data['days_since_review'].str.extract('(\d+)').astype(int) # Extract the number from the string. This code if made using chatgpt
data['Tag_3'] = data['Tag_3'].str.extract('(\d+)').astype(float) # Extract the number from the string and convert to float. For some reason it did not work as int

# The next part of the code creates a new dataframe with hotel names and removes it from the dataframe data
hotel_names = data['Hotel_Name'] # Create a new dataframe with the hotel names
data.drop('Hotel_Name',axis=1,inplace=True) # Drop the column 'Hotel_Name' as it is not needed in the model

data.dropna(inplace=True) # Drop the NaN in the colum

In [25]:
print(data.head())

       Average_Score    Reviewer_Nationality  \
20097            9.1   United Arab Emirates
40699            8.4         United Kingdom
48884            8.8               Portugal
54890            8.5         United Kingdom
71335            8.1         United Kingdom

                                         Negative_Review  \
20097   My only complaint would be that dogs are welc...
40699   No bar or restaurant onsite Better facilities...
48884                                            Nothing
54890                                        No Negative
71335   Not much to complain about we shopped around ...

       Review_Total_Negative_Word_Counts  \
20097                                 69
40699                                 20
48884                                  2
54890                                  0
71335                                 52

                                         Positive_Review  \
20097   Beautiful rooms lovely doggy bed and bowls fo...
40699   Really friendly informed staff that were alwa...
48884   This is our second stay at the Sofitel Paris ...
54890                                         Everything
71335   Very child friendly balloon sculptor came rou...

       Review_Total_Positive_Word_Counts  \
20097                                 28
40699                                 29
48884                                 75
54890                                  2
71335                                 48

       Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
20097                                          21             9.2
40699                                           2             8.3
48884                                          28            10.0
54890                                          11             9.2
71335                                           1             9.6

       days_since_review         Tag_0           Tag_1  \
20097                 34   With a pet    Leisure trip
40699                435   With a pet    Leisure trip
48884                686   With a pet    Leisure trip
54890                292   With a pet    Leisure trip
71335                345   With a pet    Leisure trip

                              Tag_2  Tag_3              Tag_4  \
20097                        Group     2.0   Stayed 2 nights
40699                        Group     2.0   Stayed 3 nights
48884   Family with young children     2.0   Stayed 2 nights
54890                       Couple     2.0   Stayed 2 nights
71335   Family with young children     2.0   Stayed 2 nights

                                  Tag_5
20097   Submitted from a mobile device
40699   Submitted from a mobile device
48884   Submitted from a mobile device
54890   Submitted from a mobile device
71335   Submitted from a mobile device

In [26]:
knn_data = data.copy()

knn_data.drop(['Reviewer_Nationality', 'Negative_Review', 'Positive_Review'], axis=1, inplace=True)

# One hot encoding
knn_data = pd.get_dummies(knn_data, dtype=int)

print(knn_data.head())

       Average_Score  Review_Total_Negative_Word_Counts  \
20097            9.1                                 69
40699            8.4                                 20
48884            8.8                                  2
54890            8.5                                  0
71335            8.1                                 52

       Review_Total_Positive_Word_Counts  \
20097                                 28
40699                                 29
48884                                 75
54890                                  2
71335                                 48

       Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
20097                                          21             9.2
40699                                           2             8.3
48884                                          28            10.0
54890                                          11             9.2
71335                                           1             9.6

       days_since_review  Tag_3  Tag_0_ With a pet   Tag_1_ Business trip   \
20097                 34    2.0                   1                      0
40699                435    2.0                   1                      0
48884                686    2.0                   1                      0
54890                292    2.0                   1                      0
71335                345    2.0                   1                      0

       Tag_1_ Leisure trip   ...  Tag_2_ Family with young children   \
20097                     1  ...                                   0
40699                     1  ...                                   0
48884                     1  ...                                   1
54890                     1  ...                                   0
71335                     1  ...                                   1

       Tag_2_ Group   Tag_2_ Solo traveler   Tag_4_ Stayed 1 night   \
20097              1                      0                       0
40699              1                      0                       0
48884              0                      0                       0
54890              0                      0                       0
71335              0                      0                       0

       Tag_4_ Stayed 2 nights   Tag_4_ Stayed 3 nights   \
20097                        1                        0
40699                        0                        1
48884                        1                        0
54890                        1                        0
71335                        1                        0

       Tag_4_ Stayed 4 nights   Tag_4_ Stayed 5 nights   \
20097                        0                        0
40699                        0                        0
48884                        0                        0
54890                        0                        0
71335                        0                        0

       Tag_4_ Stayed 7 nights   Tag_5_ Submitted from a mobile device
20097                        0                                       1
40699                        0                                       1
48884                        0                                       1
54890                        0                                       1
71335                        0                                       1

[5 rows x 22 columns]

In [32]:

percentage = 1
sample_size = int(knn_data.shape[0] * percentage)
knn_data_sample = knn_data.sample(n=sample_size, random_state=69)

features = knn_data_sample.columns.difference(['Average_Score'])
scaler = MinMaxScaler()
knn_data_sample[features] = scaler.fit_transform(knn_data_sample[features])

X = knn_data_sample.drop('Average_Score', axis=1) 
y = knn_data_sample['Average_Score'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=69)

knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

print(f'KNN Modellens Nøyaktighet: {mse:.4f}')

KNN Modellens Nøyaktighet: 0.1805